.react-multi-carousel-track  {
    padding-top: 10%;
}

/* .react-multiple-carousel__arrow {
    position: relative;
    top: 30%;
} */

.react-multi-carousel-dot {
    position: relative;
    padding-top: 30%;
    /* margin-top: 35%; */
}