.react-multi-carousel-track  {
    padding-top: 10%;
}

/* .react-multiple-carousel__arrow {
    position: relative;
    top: 30%;
} */

.react-multi-carousel-dot {

    position: absolute;
    padding-top: 30%;
    /* margin-top: 35%; */
}
.background {
    /* padding:1rem; */
    background-image: url("https://images.unsplash.com/photo-1437719417032-8595fd9e9dc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-position: center
}

