#loginBtn{
    height: 5rem;
    width:11rem;
    background: #1606f7;
    border-radius: 100px;
    padding: 10px 30px 10px ;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin:auto;
    margin-right: 20px;
    margin-left: 50px
}

#loginBtn:hover {
    -webkit-animation: hover 1200ms linear 2 alternate;
    animation: hover 1200ms linear 2 alternate;
}