#SignupBtn{
    background: #1606f7;
    border-radius: 100px;
    padding: 10px 30px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin:auto
    /* margin-left:auto; */
}

#SignupBtn:hover {
    -webkit-animation: hover 1200ms linear 2 alternate;
    animation: hover 1200ms linear 2 alternate;
}